@import "../main.scss";

#navigator {
    background-color: $primary-color;
}

#gallery {
    background: #F4F4F4;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    @media (min-width: 1000px) {
            flex-direction: row;
        }
}

.gallery-title {
    color: #242424;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cera Round Pro DEMO', sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}

.news-button {
    background-color: transparent;
    color: #242424;
    font-family: 'Cera Round Pro DEMO', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 175%;
    letter-spacing: 0.64px;
    padding: 8px 32px;
    border-radius: 100px;
    border: 1px solid $primary-color;
    transition: 0.5s;
    margin-bottom: 120px;
}

.news-button:hover {
    background-color: $primary-color;
    color: $white-color;
    border: 1px solid transparent;
}

.gallery-left {
    width: 40%;
}

.gallery-right {
    width: 60%;
}

.gallery-text {
    color: #242424;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cera Round Pro DEMO', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.44px;
    text-transform: capitalize;
}

.gallery-list {
    max-width: 491px;
    color: #AAA;
    font-family: 'Cera Round Pro DEMO', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.64px;
}

.ap-tab-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ap-tab-link:hover {
    background-color: $white-color;
    color: $dark-color;
    border-radius: 100px;
}

.ap-tab-link {
    display: block;
    color: $white-color;
    font-family: 'Cera Round Pro DEMO', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 175%;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    border: 1px solid $white-color;
    padding: 10px 27px;
    border-radius: 100px;
    transition: 0.5s;
}

.ap-tab-list {
    display: grid;
    grid-template-columns: 250px;
    gap: 10px;
    justify-content: center;

    // @media (min-width: 700px) {
    //     grid-template-columns: 250px 250px;
    // }

    // @media (min-width: 900px) {
    //     grid-template-columns: 250px 250px 250px;
    // }

    // @media (min-width: 1100px) {
    //     grid-template-columns: 250px 250px 250px 250px;
    // }

    // @media (min-width: 1400px) {
    //     grid-template-columns: repeat(8, auto);
    // }
}

.card1-border {
    border-radius: 14px;
    border: 1px solid rgba(36, 36, 36, 0.10);
    background: #FFF;
}
.card-title {
    padding: 0 20px 20px 20px;
    color: #242424;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}

.ap-tab {
    max-width: 428px;
    padding: 10px;
    height: 640px;
    background-color: $primary-color;
    text-align: start;
    border-radius: 20px;
}

.title {
    color: #FFF;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cera Round Pro;
    font-size: 40px;
    font-weight: 500;
    line-height: 54px;
    text-transform: capitalize;
}

.shashlik {
    padding: 20px 20px 10px 20px;
}

.cards {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 30px;

    @media (min-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
    }

    // @media (min-width: 900px) {
    //     grid-template-columns: repeat(3, 1fr);
    // }

    // @media (min-width: 1100px) {
    //     grid-template-columns: repeat(4, 1fr);
    // }
}

.flex {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    
    column-gap: 100px;
    row-gap: 20px;
    @media (min-width: 800px) {
            flex-direction: row;
        }
}

.card1 {
    text-align: center;
    max-width: 310px;
    background-color: $white-color;
    border: none;
    padding: 10px;
}

.card-price {
    padding: 20px 0 40px 0;
    color: $primary-color;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.footer-top {
    max-width: 1406px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.40);
    background: $primary-color;
    box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.20);
    text-align: center;
    margin-bottom: -200px;
    margin-top: 100px;
}




.footer-top-title {
    margin: 64px 0 10px 0;
    color: var(--FFFFFF, #FFF);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cera Round Pro DEMO', sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}

.footer-top-text {
    color: #FFF;
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cera Round Pro DEMO', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.44px;
    text-transform: capitalize;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 900px) {
        flex-direction: row;
    }
}

.footer-top-list {
    margin: 10px 0 50px 0;
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.64px;
}

input {
    display: none;
    max-width: 810px;
    color: var(--AAAAAA, #AAA);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cera Round Pro DEMO', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 175%;
    letter-spacing: 0.64px;
    text-transform: capitalize;
    padding: 12px 400px 12px 20px;
    border-radius: 100px;
    border: 1px solid rgba(245, 239, 219, 0.50);
    background-color: transparent;

    @media (min-width: 900px) {
        display: block;
    }

}

.subsicribe {
    padding: 12px 30px;
    color: #FFF;
    font-family: 'Cera Round Pro DEMO', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 175%;
    letter-spacing: 0.64px;
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid #FFF;
    margin: 0 0 0 30px;
}

form {
    padding-bottom: 50px;
}

.footer {
    background-color: $primary-color;
}

.footers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 300px;

    @media (min-width: 900px) {
        flex-direction: row;
    }
}

.footer-title {
    color: #FFF;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cera Round Pro DEMO', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.28px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.footer-list {
    color: #FFF;
    font-family: 'Cera Round Pro DEMO', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.64px;
}

.logo-img {
    text-align: center;
}

.list-text {
    max-width: 438px;
    margin-top: 30px;
    color: #FFF;
    text-align: center;
    font-family: 'Cera Round Pro DEMO', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.64px;
}

.footer-end {
    text-align: center;
}

.footer-end p {
    padding: 60px 0 40px 0;
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.64px;
}

.logo-img {
    text-align: center;
}

.list-text {
    max-width: 438px;
    margin-top: 30px;
    color: #FFF;
    text-align: center;
    font-family: 'Cera Round Pro DEMO', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.64px;
}

.footer-end {
    text-align: center;
}

.footer-end p {
    padding: 60px 0 40px 0;
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.64px;
}